.copyrights {

  @media (min-width: 500px) {
    padding: 0 9.7656%;
  }
}

.copyrights__logo-wrapper {
  width: 100%;
  margin-bottom: 50px;

  @media screen and @tablet-width {
    img {
      display: none;
    }
  }
}

.copyrights__logo {
  display: block;
  width: 48px;
  height: 81px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.copyrights__text {

  img {
    width: 55px;
    height: 20px;
    filter: grayscale(100%);

    &:hover {
      filter: none;
    }

    @media screen and @tablet-width {
      width: 88px;
      height: 32px;
      margin-left: 10px;
    }
  }
}

.copyrights__findin {
  display: block;
  margin-bottom: 10px;
  font-size: 10px;
  text-align: center;
  color: @white;

  @media screen and @tablet-width {
    font-size: 14px;
  }
}

.copyrights__link {
  display: block;
  width: 140px;
  margin: auto;
  text-align: center;

  @media screen and @tablet-width {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
