.main-slider {
  padding-bottom: 70px;
  margin-bottom: 80px;

  @media screen and @tablet-width {
    .container-tablet();
    margin-bottom: 70px;
  }

  @media screen and @desktop-width {
    margin-bottom: 120px;
  }
}

/* .main-slider__slides {
  justify-content: space-between;
  align-items: flex-start;
} */

.main-slider__slide {
  width: 250px;
  height: auto;
  transition: all 0.7s ease;

  &:last-child {
    margin-right: 0;
  }

  @media screen and @tablet-width {
    padding-bottom: 40px;
  }
}

.main-slider__img-container {
  margin-bottom: 25px;
  overflow: hidden;

  @media screen and @desktop-width {
    margin-bottom: 30px;
  }
}

.main-slider__slide-img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.5s ease;

  outline: 1px solid black;

  &:hover {
    transform: scale(1.1);
    filter: saturate(150%);
  }


}

.main-slider__slide-text-wrapper {
  padding-left: 20px;



  @media screen and @tablet-width {
    padding-bottom: 75px;

    a {
      color: @title-color;
    }

    &--right {
      padding-left: 18%;
      color: @white;

      a {
        color: @white;
      }
    }
  }

  @media screen and @desktop-width {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.main-slider__slide-title {
  width: 100%;
  min-height: 45px;
  padding-right: 80px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  @media screen and @desktop-width {
    font-size: 37px;
    //min-height: 80px;
  }
}

.main-slider__slide-location {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;

  @media screen and @desktop-width {
    margin-bottom: 50px;
    padding-left: 30px;
    font-size: 24px;
    letter-spacing: 1px;
  }
}

.main-slider__slide-num {
  display: none;

  @media screen and @tablet-width {
    display: block;
    margin-bottom: 7px;
    font-size: 48px;
  }
}
