.main-nav {
  position: relative;
  // background-color: @white;
}

.main-nav__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 70px;
  padding-top: 20px;

  // outline: 1px solid gray;
}

.main-nav__sponsor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-nav__skoda,
.main-nav__okko {
  margin-right: 15px;

  @media @tablet-width {
    margin-right: 35px;
  }

  @media @desktop-width {
    margin-right: 70px;
  }
}

.main-nav__skoda,
.main-nav__okko,
.main-nav__kievstar {
  filter: grayscale(100%);

  &:hover {
    filter: none;
  }
}

.main-nav__skoda {
  width: 72px;

  @media @tablet-width {
    width: 110px;
  }
}

.main-nav__okko {
  width: 48px;
  padding-top: 4px;

  @media @tablet-width {
    width: 75px;
    padding-top: 6px;
  }
}

.main-nav__kievstar {
  width: 65px;

  @media @tablet-width {
    width: 90px;
  }
}

.main-nav__top-logo {
  display: none;
}

.main-nav__burger {
  position: relative;
  z-index: 25;
  width: 35px;
  height: 35px;
  fill: @white;

  &:hover {
    fill: @pink;
  }

  &--dark {
    fill: @title-color;
  }
}

.main-nav__burger-icon-open {
  // position: absolute;
  cursor: pointer;

  &:hover {
    fill: @pink!important;
  }

  &--hidden {
    display: none;
  }

  &--visible {
    display: block;
  }

  &--dark {
    fill: @title-color;
  }

  &--scrolled {
    fill: @title-color;
    background-color: @white;

    &:hover {
      fill: @pink;
    }
  }
}

.main-nav__burger-icon-close {
  cursor: pointer;

  &--visible {
    display: block;
    fill: @title-color;

    &:hover {
      fill: @pink;
    }
  }

  &--hidden {
    display: none;
  }

}

.main-nav__lang-switcher {
  padding-top: 5px;

  @media screen and @tablet-width {
    margin-left: 10px;
  }
}

.main-nav__switch {
  position: relative;
  display: inline-block;
  margin-right: 35px;
  font-size: 14px;
  font-weight: 400;
  color: @text-color;
  text-transform: uppercase;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    font-weight: 800;
    color: @pink!important;
  }

  &:hover {
    font-weight: 800;
    color: @pink;
  }

  &--ua::before,
  &--ru::before {
    position: absolute;
    top: 8px;
    left: 36px;
    content: "";
    width: 15px;
    height: 1px;
    background-color: @text-color;
    transform: rotate(-60deg);

    @media screen and @tablet-width {
      // top: 11px;
      // left: 36px;
      // width: 20px;
    }
  }

  @media screen and @tablet-width {
    // margin-right: 25px;
    font-size: 20px;
  }
}

.main-nav__items {
  display: none;
  position: fixed;
  z-index: 21;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 550px;
  // height: 100vh;
  padding-bottom: 35px;
  text-align: center;
  background-color: @white;

  &--opened {
    // открывает меню
    display: block;
    flex-direction: column;
    // top: 70px;
    animation: fadeInDown 0.6s both;

    // outline: 1px solid gray;

    @media screen and @tablet-width {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  /* .main-nav__lang-switcher {

    @media screen and @desktop-width {
      display: block;
      margin-top: 100px;
      .container-desktop();
    }
  } */
}

.main-nav__item {
  margin-bottom: 26px;

  a {
    font-size: 16px;
    font-weight: 500;
    color: @text-color;

    &:hover {
      color: @pink;
    }

    @media screen and @tablet-width {
      font-size: 20px;
    }
  }

  &--social {
    margin-bottom: 0;
    margin-top: 60px;
  }

  @media screen and @tablet-width {

    &--social {
      order: -1;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: auto;
      margin-bottom: 90px;
    }
  }

  @media screen and @desktop-width {
    // position: relative;
    // display: inline-block;
    // vertical-align: top;
    // margin: 0 35px;

    &--social {
      position: absolute;
      top: 0;
      left: 0;
    }

    &--lang {
      @media screen and @desktop-width {
        margin-top: 30px;
      }
    }
  }
}

.main-nav__logo-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 45px;

  img {
    margin-left: 0;
    margin-right: auto;
  }

  @media screen and @tablet-width {
    padding-bottom: 95px;
  }

  @media screen and @desktop-width {
    padding-bottom: 95px;
  }

}

.main-nav__logo-menu {
  // margin: 0 auto;
  // transform: translateX(-50%);

  @media screen and @desktop-width {
    width: 191px;
    height: 77px;
    margin-top: 65px;
  }
}

.main-nav__logo-menu-link {

  @media screen and @tablet-width {
    margin-left: auto;
    margin-right: auto;
  }
}

.main-nav__burger-icon {

  &--close {
    fill: @title-color;

    &:hover {
      fill: @pink;
    }
  }
}

.main-nav__icon {
  width: 30px;
  height: 30px;
  fill: @text-color;
  margin-right: 20px;

  &--fb:hover {
    fill: #3b5998;
  }
  &--insta:hover {
    fill: #943ab9;
  }
  &--yt:hover {
    fill: #d42428;
  }
}

.main-nav__menu-inner {
  display: none;

  @media screen and @desktop-width {
    display: block;

    .pagination {
      padding: 0;
      margin-bottom: 45px;
    }
  }
}

.main-nav__slider {
  // padding: 0 20px;
  margin-bottom: 135px;
}

/* .main-nav__slides {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
} */

.main-nav__slide {
  width: 296px;
}

.main-nav__slide-link {
  display: block;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.5s ease;

     &:hover {
      transform: scale(1.1);
      filter: saturate(150%);
    }
  }
}
