.page-header {
  min-height: 570px;

  @media screen and @tablet-width {
    min-height: 370px;
    margin-bottom: 40px;
  }

  @media screen and @desktop-width {
    margin-bottom: 100px;
  }
}

.page-header__block {
  width: auto;
  min-height: 200px;
  background-color: lightgray;

  /* padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 65px;

  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 39.6% 100%; */

  @media screen and @tablet-width {
    // height: 390px;
    margin: 0 20px;
    // padding-bottom: 30px;
  }

  @media screen and @desktop-width {
    // height: 665px;
  }

  &--keepers {
    margin-bottom: 60px;
    min-height: 499px;
    background-image: url(../img/guards-hero-bartosh-mobile@1x.jpg);
    background-position: 40% center;

    @media screen and @desktop-width {
      padding-bottom: 95px;
      background-image: url(../img/guards-hero-bartosh-desktop@1x.jpg);
      background-position: 0 center;
    }
  }
}

.page-header__img-wrapper {
  position: relative;
  min-height: 200px;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(15deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.1) 60%, transparent);
  }

}

.page-header__img {
  display: block;
  width: 100%;
  height: 500px;
  // width: auto;
  object-fit: cover;

  @media screen and @tablet-width {
    // height: 450px;
    // height: auto;
  }

  @media screen and @desktop-width {
    height: 665px;
    // height: auto;
  }

}

.page-header__text-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.page-header__title {
  position: absolute;
  top: 0;
  left: 0;
  // margin-bottom: 190px;

  a {
    // display: block;
  }

  img {
    display: block;
    width: 135px;

    @media screen and @desktop-width {
      width: 190px;
    }
  }

}

.page-header__intro {
  position: absolute;
  left: 0;
  bottom: 25px;
  padding-left: 20px;
  padding-right: 25px;
  font-size: 22px;
  line-height: 1.6;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:  @white;

  @media screen and @tablet-width {
    bottom: 60px;
    padding: 0 8.5%;
    font-size: 25px;
  }

  @media screen and @desktop-width {
    bottom: 85px;
    font-size: 42px;
  }
}

.page-header__logo {
  display: none;

  @media screen and @tablet-width {
    display: block;
  }
}

.page-header__text {
  letter-spacing: 1px;
  color: @white;
  transform: translateY(105px);

  @media screen and @desktop-width {
    padding: 0 105px;
    transform: translateY(35px);
  }
}

.page-header__guards {
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;

  @media screen and @desktop-width {
    font-size: 50px;
  }
}

.page-header__location {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;

  @media screen and @desktop-width {
    font-size: 40px;
  }
}
