.pagination {
  display: none;

  @media screen and @tablet-width {
    position: relative;
    display: block;
    width: auto;
    min-height: 15px;
    margin-bottom: 55px;
  }

  @media screen and @desktop-width {
    padding-bottom: 50px;
  }
}

.pagination__numbers {

  @media screen and @tablet-width {
    background-image: url(../img/dash-line.svg);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: 50% 33%;
  }

  @media screen and @desktop-width {
    padding: 0 115px;
    font-size: 26px;
    background-size: 1008px 2px;
    background-position: 50% 45%;
  }

  &--nav {

    @media screen and @desktop-width {
      background-image: url(../img/dash-line-black.svg);
    }
  }
}

.pagination__link-dash {
  display: block;
  width: 2%;
  height: 2px;
  transform: translateY(9px);
  background-color: @title-color;

  &--white {
    background-color: @white;
  }

  @media screen and @desktop-width {
    transform: translateY(13px);
  }

  &:last-child {
    display: none;
  }
}

a.pagination__link {
  &--white {
    color:  @white;
  }
}
