.partners {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 65px;
  border-top: 2px solid @title-color;

  @media screen and @tablet-width {
    padding-bottom: 105px;
  }

  @media screen and @desktop-width {
    border-top: none;
    .container-desktop();
    padding-bottom: 180px;
  }
}

.partners__title {
  position: relative;
  z-index: 5;
  margin-top: -53px;
  margin-bottom: 55px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: @title-color;

  @media screen and @tablet-width {
    margin-top: -55px;
    margin-bottom: 95px;
    padding-left: 80px;
    font-size: 22px;
  }

  @media screen and @desktop-width {
    font-size: 37px;
    margin-bottom: 160px;
  }

  &::after {
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 0;
    content: "";
    width: 170px;
    height: 15px;
    background-color: @white;

    @media screen and @tablet-width {
      width: 240px;
    }

    @media screen and @desktop-width {
      z-index: -1;
      top: 20px;
      left: 420px;
      width: 838px;
      height: 2px;
      background-color: @title-color;
    }
  }
}

.partners__slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;

  @media screen and @tablet-width {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 140px;
  }
}

.partners__link {
  margin-bottom: 50px;
  flex-shrink: 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and @tablet-width {
    margin-left: 9.1%;
    margin-right: 9.1%;
    margin-bottom: 0;
  }

  img {
    display: block;
    filter: grayscale(100%);

    &:hover {
      filter: none;
    }
  }
}

.partners__img-skoda {

  @media screen and @tablet-width {
    width: 172px;
    height: 47px;
  }

  @media screen and @desktop-width {
    width: 251px;
    height: 74px;
  }
}

.partners__img-okko {

  @media screen and @tablet-width {
    width: 117px;
    height: 31px;
    margin-top: 5px;
  }

  @media screen and @desktop-width {
    width: 171px;
    height: 51px;
    margin-top: 10px;
  }
}

.partners__img-kievstar {

  @media screen and @tablet-width {
    width: 144px;
    height: 45px;
  }

  @media screen and @desktop-width {
    width: 208px;
    height: 65px;
  }
}
